services:
  odoo:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "8072:8072"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./config/certs:/etc/odoo/certs
      - ./addons:/mnt/extra-addons
      - ./addons/oca_calendar:/mnt/oca-calendar
      - ./addons/oca_web:/mnt/oca-web
      - ./addons/odoo-argentina:/mnt/odoo-argentina
      - ./addons/odoo-argentina-ee:/mnt/odoo-argentina-ee
      - ./addons/account_budgeting:/mnt/account-budgeting
      - ./addons/account_financial_reporting:/mnt/account-financial-reporting
      - ./addons/account_financial_tools:/mnt/account-financial-tools
      - ./addons/currency:/mnt/currency
      - ./logs:/var/log/odoo
      - ./entrypoint.sh:/entrypoint.sh
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
      - PYTHONIOENCODING=utf-8
      - INIT_MODULES=base,l10n_ar_afipws,l10n_ar_afipws_fe
    restart: always

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: always
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    depends_on:
      - db
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@odoo.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    restart: always

volumes:
  odoo-web-data:
    name: odoo-docker_odoo-web-data
  odoo-db-data:
    name: odoo-docker_odoo-db-data
  pgadmin-data:
    name: odoo-docker_pgadmin-data